/* font */
@font-face {
    font-family: 'BebasNeue';
    src: url(../font/BebasNeue-Regular.woff) format('woff');
}

/* style utama */

body{
    font-family: 'BebasNeue','Arial Narrow',arial,sans-serif;
    font-size: 18px;
    line-height: 36px;
    background-color: gray;
}

h1{
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}

.container{
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 5px;
    display: block;
}

.gallery li{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    list-style: none;
    background-color: black;
    //overflow: hidden;
    border: 5px solid darkslategray;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li .thumb{
    border-radius: 50%;
}

.gallery li span{
    display: block;
    width: 120px;
    background-color:rgba(200,200,200,.5) ;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    line-height: 120px;
    text-align: center;
    color: #333;
    text-shadow: 1px 1px lightgray;
    opacity: 0;
    transition: .3s;
    transform: scale(0) rotate(0);
}

.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}


.clear{
    clear: both;
}

/* overlay */

.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0,0,0,0);
    z-index: 999;
    top: 0;
    left: 0;
    transition: .3s;
    text-align: center;
    padding: 75px;
    display: none;
}

.overlay:target {
    width: auto;
    height: auto;
    display: block;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
}

.overlay .full{
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
}

.overlay:target .full{
    animation: Fade 1s ;
}

.overlay .close{
    display: none;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    }

    .overlay:target .close{
        animation: Fade .5s .5s forwards;
    }

    .overlay:target .next{
        animation: Fade .5s .5s forwards;
        opacity: 0;
    }

    .overlay:target .prev{
        animation: Fade .5s .5s forwards;
        opacity: 0;
    }

.overlay:target .close{
    display: block;
    width: 70px;
}

/* navigasi */

.next{
    width: 57px;
    height: 101px;
    background-image: url(../img/next.png);
    position: absolute;
    top: 50%;
    margin-left: 50px;
    text-indent: -99999999999999999999999999999px;
    opacity: 0;
}

.prev{
    background-image: url(../img/prev.png);
    width: 57px;
    height: 102px;
    text-indent: -99999999999999999999999999999px;
    position: absolute;
    top: 50%;
    margin-left: -110px;
    opacity: 0;
}

/* animasi */

@keyframes zoomDanFade{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Fade{ 
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}